<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="description" content="Admin dashboard for managing website content" />
    <title>Content Manager</title>
    <script is:inline>window.CMS_MANUAL_INIT = true;</script>
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js" defer is:inline></script>
    <script>
      // @ts-nocheck
      import options from 'virtual:@miseya/astro-decap-cms/user-config';
      window.initCMS(options);
    </script>
    <style is:global>
      /* Workaround for https://github.com/netlify/netlify-cms/issues/5092 */
      [data-slate-editor] {
        -webkit-user-modify: read-write !important;
      }
    </style>
  </head>
  <body>
	</body>
</html>